<configuration>
  <appSettings>
    <add key="webPath" value=".\web"/>
    <add key="webUrl" value="http://localhost:9999/FlashCap/Debug/web/" />
    <add key="capturePath" value=".\capture"/>
    <add key="frames" value="10,25,50,75,100" />
    <add key="timeout" value="10000" />
  </appSettings>
</configuration>